.navbar{
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Montserrat";
}

.navbar li{
  display: inline;
  padding:20px;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #660000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  #login-header{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, fantasy;
      font-weight: bold;
      font-size: 40px;
      color: #990000;
  }

.navbar{
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li{
    display: inline;
    padding:20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #990000;
  border: 1px solid #990000;
  background-color:gray;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50%;
}

.login-form-field::placeholder {
  color: gray;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  outline: none;
}

#login-form-submit{
  background-color: #660000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: black;
  width: 100%;
  text-align: center;
}